@import './variable.less';
@import './reset.less';

.container {
    padding: 0;
    min-height: 100%;
    background: @bg-color;
    .title {
        font-weight: 100;
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        background: @theme-color;
        color: #333;
        border-bottom: 1px solid @line-color;        
    }
    .content {
        padding: 0 10px;
        font-size: 20px;
        color: @font-color;
    }
}
